<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.parties() %>">parties</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit party</a></li>
</ul>

<div class="page-header">
    <h1>Edit party</h1>
</div>

<% var form = formFor(party, {action: pathTo.party(party), method: 'PUT', id: "party-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update party', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.party(party), {class: 'btn'}) %>
</div>
<%- form.end() %>
