<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.parties %>">parties</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Details of party</a></li>
</ul>

<div class="page-header">
    <h1>Details of party</h1>
</div>

<table class="table table-bordered">
    <tbody>
        <tr><th>title</th><td><%= party.title %></td></tr>

        <tr><th>description</th><td><%= party.description %></td></tr>

        <tr><th>expectedCount</th><td><%= party.expectedCount %></td></tr>

        <tr><th>location</th><td><%= party.location %></td></tr>

        <tr><th>begins</th><td><%= party.begins %></td></tr>

        <tr><th>ends</th><td><%= party.ends %></td></tr>

        <tr><th>externalLink</th><td><%= party.externalLink %></td></tr>

        <tr><th>organizer</th><td><%= party.organizer %></td></tr>

        <tr><th>partner</th><td><%= party.partner %></td></tr>

        <tr><th>image</th><td><%= party.image %></td></tr>

        <tr><th>hashtag</th><td><%= party.hashtag %></td></tr>

        <tr><th>createdAt</th><td><%= party.createdAt %></td></tr>
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_party(party), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.party(party), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', pathTo.parties) %>
</div>
